<div class="flex items-center justify-center h-screen bg-gray-100 p-0">
    <div class="bg-white p-8 rounded shadow-md w-full sm:w-96 lg:w-1/2">
        <% dataList.forEach(data=> { %>

            <form method="POST">
                <input type="hidden" name="kategori" value="<%=data.kategori_id %>">

                <label class="block mb-4">
                    <span class="text-gray-700">Kategori Ad</span>
                    <input type="text" name="kategori_ad" class="w-full p-2 border border-gray-300 rounded-md"
                        value="<%=data.kategori_ad%>" placeholder="Seçenek B">
                </label>

                <label class="block mb-4 text-sm  text-gray-900 dark:text-white">
                    <span class="text-gray-700">Kategori Açıklama</span>
                    <textarea name="kategori_aciklama"
                        class="block p-2.5 w-full text-sm mb-5 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        rows="3"
                        placeholder="Sorunuzun açıklamasını buraya yazınız"><%=data.kategori_aciklama%></textarea>
                </label>



                <button
                    class="focus:outline-none text-white bg-green-700 mt-5 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Kategoriyi
                    Güncelle</button>
            </form>

            <% }) %>
    </div>
</div>