<div class="p-11 h-full  flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-md w-1/3">
        <h1 class="text-2xl font-semibold mb-10">Kategori Ekleme</h1>
        <form method="post">
            <div class="mb-4">

                <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Kategori
                    Başlığı</label>
                <input type="text" name="baslik" id="default-input" placeholder="Kategori Başlığı..."
                    class="bg-gray-50 border mb-4 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Kategori
                    Açıklama</label>
                <textarea name="aciklama" id="message" rows="4"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Kategori açıklaması..."></textarea>

            </div>
            <button type="submit"
                class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Ekle</button>
        </form>
    </div>

</div>



<div class="p-5 h-full  flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-md w-1/3">
        <h1 class="text-2xl font-semibold mb-4">Kategori Listesi</h1>
        <div
            class="w-100 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
            <% if (dataList && dataList.length > 0) { %>
                <% dataList.forEach(function(data, i) { %>
                  <!-- Var olan içerik -->
                  <a href="#" class="flex justify-between w-full px-4 py-2 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
                    <%= data.kategori_ad %>
                    <svg xmlns="http://www.w3.org/2000/svg" onclick="deleteCategory(<%= data.kategori_id %>)" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-red-700 rotate-0 hover:rotate-[30deg] transition-all">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                  </a>
                <% }) %>
              <% } else { %>
                <!-- Eğer dataList boşsa gösterilecek hata mesajı -->
                <p class="text-red-700">Veri bulunamadı.</p>
              <% } %>
              

        </div>
    </div>

</div>

<script>
    function deleteCategory(kategori_id) {
        fetch(`/admin/delete-kategori/${kategori_id}`, {
            method: 'DELETE'
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            }).then(
                fetch(` /admin/kategori-ekle`)
            )
            .catch(error => {
                console.error('Kategori silinirken hata oluştu:', error);

            });


    }</script>