<div class="container  p-4 sm:p-8 flex flex-wrap">
    <!-- Test Kutucukları -->
    <div class="text-center mx-auto mt-10 mb-10 ">
        <h3
            class="mb-6 px-6 font-sans text-4xl sm:text-5xl md:text-6xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white">
            SMM Hazırlığa hoş geldiniz!</h3>
    </div>

    <div class="w-full sm:w-1/2 p-4 border-b sm:border-b-0 sm:border-r md:border-r lg:border-r xl:border-r">

        <div class="text-center mx-auto">
            <h5 class="mb-6 px-6 text-lg md:text-xl lg:text-2xl xl:text-3xl font-semibold">
                Testler</h5>
        </div>

        <div
            class="relative bg-white pt-6 pl-5 pb-5 rounded-md mb-4 border group border-gray-300 shadow-md transition-colors duration-300 ease-in-out hover:bg-gray-100">
            <a href="/pages/test">
                <h2 class="mb-2 text-2xl font-medium tracking-tight text-gray-900">Finansal Muhasebe</h2>
                <p class="font-normal text-gray-600 ">Görevde yükselme sınavlarında mutlaka sorulan, her memurun bilmesi
                    beklenen Devlet Memurları Kanunu ile ilgili baştan sona çözümlü test soruları</p>
                    
                <div class="flex justify-between pr-5 mt-5">
                    <p href="" class="flex hover:underline text-blue-800">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5l-3.9 19.5m-2.1-19.5l-3.9 19.5" />
                        </svg>

                        657
                    </p>


                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
                        class="h-5 w-5 -rotate-45 group-hover:rotate-0 transition-all">
                        <path fill-rule="evenodd"
                            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </div>
            </a>

        </div>


        <div
            class="relative bg-white pt-6 pl-5 pb-5 rounded-md mb-4 border group border-gray-300 shadow-md transition-colors duration-300 ease-in-out hover:bg-gray-100">
            <h2 class="mb-2 text-2xl font-medium tracking-tight text-gray-900">Maaliyet Muhasebesi</h2>
            <p class="font-normal text-gray-600">4447 sayılı İşsizlik Sigortası Kanunu ile ilgili, henüz yürürlükte
                olmayan esnaf ahilik sandığı dahil çözümlü test soruları</p>

            <div class="flex justify-between pr-5 mt-5">
                <a href="link-1.html" class="flex hover:underline text-blue-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5l-3.9 19.5m-2.1-19.5l-3.9 19.5" />
                    </svg>

                    4447
                </a>

                <a href="link-2.html">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
                        class="h-5 w-5 -rotate-45 group-hover:rotate-0 transition-all">
                        <path fill-rule="evenodd"
                            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>
            </div>
        </div>


        <div
            class="relative bg-white pt-6 pl-5 pb-5 rounded-md mb-4 border group border-gray-300 shadow-md transition-colors duration-300 ease-in-out hover:bg-gray-100">
            <h2 class="mb-2 text-2xl font-medium tracking-tight text-gray-900">Mali Tablolar Analizi</h2>
            <p class="font-normal text-gray-600">4734 Sayılı Kamu İhale Kanunu ile ilgili baştan sona çözümlü test
                soruları.</p>
            <div class="flex justify-between pr-5 mt-5">
                <a href="link-1.html" class="flex hover:underline text-blue-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5l-3.9 19.5m-2.1-19.5l-3.9 19.5" />
                    </svg>

                    4734
                </a>

                <a href="link-2.html">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
                        class="h-4 w-4 -rotate-45 group-hover:rotate-0 transition-all">
                        <path fill-rule="evenodd"
                            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>
            </div>
        </div>

        <div
            class="relative bg-white pt-6 pl-5 pb-5 rounded-md mb-4 border group border-gray-300 shadow-md transition-colors duration-300 ease-in-out hover:bg-gray-100">
            <h2 class="mb-2 text-2xl font-medium tracking-tight text-gray-900">Vergi Hukuku</h2>
            <p class="font-normal text-gray-600">4734 Sayılı Kamu İhale Kanunu ile ilgili baştan sona çözümlü test
                soruları.</p>
            <div class="flex justify-between pr-5 mt-5">
                <a href="link-1.html" class="flex hover:underline text-blue-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5l-3.9 19.5m-2.1-19.5l-3.9 19.5" />
                    </svg>

                    4734
                </a>

                <a href="link-2.html">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
                        class="h-4 w-4 -rotate-45 group-hover:rotate-0 transition-all">
                        <path fill-rule="evenodd"
                            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>
            </div>
        </div>

        <div class="text-center mx-auto">
            <div class="inline-flex items-center"><a
                    alt="657 Sayılı Devlet Memurları Kanunu İle İlgili Test Soruları - 1"
                    class="relative inline-flex items-center px-6 py-2 overflow-hidden text-gray-600 dark:text-gray-300 border border-current rounded group"
                    href=""><span
                        class="absolute right-0 transition-transform translate-x-full group-hover:-translate-x-4"><svg
                            class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                        </svg></span><span class="text-sm font-medium transition-all group-hover:mr-4">Diğer Testleri
                        Gör</span></a></div>
                        
        </div>

    </div>

    <!-- Konu Anlatımı Kutucukları -->
    <div class="w-full sm:w-1/2 p-4">

        <div class="text-center mx-auto">
            <h5 class="mb-6 px-6 text-lg md:text-xl lg:text-2xl xl:text-3xl font-semibold">
                Testler</h5>
        </div>


        <div
            class="relative bg-white pt-6 pl-5 pb-16 rounded-md mb-4 border group border-gray-300 shadow-md transition-colors duration-300 ease-in-out hover:bg-gray-100">
            <h2 class="mb-2 text-2xl font-medium tracking-tight text-gray-900">Ekonomi-Maliye</h2>
            <p class="font-normal text-gray-600 ">Görevde yükselme sınavlarında mutlaka sorulan, her memurun bilmesi
                beklenen Devlet Memurları Kanunu ile ilgili baştan sona çözümlü test soruları</p>

            <div class="absolute bottom-4 right-4">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
                    class="h-5 w-5 -rotate-45 group-hover:rotate-0 transition-all">
                    <path fill-rule="evenodd"
                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </div>
        </div>


        <div
            class="relative bg-white pt-6 pl-5 pb-16 rounded-md mb-4 border group border-gray-300 shadow-md transition-colors duration-300 ease-in-out hover:bg-gray-100">
            <h2 class="mb-2 text-2xl font-medium tracking-tight text-gray-900">Mesleki Hukuk ve Etik</h2>
            <p class="font-normal text-gray-600">4447 sayılı İşsizlik Sigortası Kanunu ile ilgili, henüz yürürlükte
                olmayan esnaf ahilik sandığı dahil çözümlü test soruları</p>

            <div class="absolute bottom-4 right-4">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
                    class="h-5 w-5 -rotate-45 group-hover:rotate-0 transition-all">
                    <path fill-rule="evenodd"
                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </div>
        </div>


        <div
            class="relative bg-white pt-6 pl-5 pb-16 rounded-md mb-4 border group border-gray-300 shadow-md transition-colors duration-300 ease-in-out hover:bg-gray-100">
            <h2 class="mb-2 text-2xl font-medium tracking-tight text-gray-900">Vergi Hukuku</h2>
            <p class="font-normal text-gray-600">4734 Sayılı Kamu İhale Kanunu ile ilgili baştan sona çözümlü test
                soruları.</p>
            <div class="absolute bottom-4 right-4">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
                    class="h-5 w-5 -rotate-45 group-hover:rotate-0 transition-all">
                    <path fill-rule="evenodd"
                        d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </div>
        </div>

        <div
            class="relative bg-white pt-6 pl-5 pb-5 rounded-md mb-4 border group border-gray-300 shadow-md transition-colors duration-300 ease-in-out hover:bg-gray-100">
            <h2 class="mb-2 text-2xl font-medium tracking-tight text-gray-900">Borçlar Hukuku</h2>
            <p class="font-normal text-gray-600">4734 Sayılı Kamu İhale Kanunu ile ilgili baştan sona çözümlü test
                soruları.</p>
            <div class="flex justify-between pr-5 mt-5">
                <a href="link-1.html" class="flex hover:underline text-blue-800">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5l-3.9 19.5m-2.1-19.5l-3.9 19.5" />
                    </svg>

                    4734
                </a>

                <a href="link-2.html">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
                        class="h-4 w-4 -rotate-45 group-hover:rotate-0 transition-all">
                        <path fill-rule="evenodd"
                            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>
            </div>
        </div>

        <div class="text-center mx-auto">
            <div class="inline-flex items-center"><a
                    alt="657 Sayılı Devlet Memurları Kanunu İle İlgili Test Soruları - 1"
                    class="relative inline-flex items-center px-6 py-2 overflow-hidden text-gray-600 dark:text-gray-300 border border-current rounded group"
                    href=""><span
                        class="absolute right-0 transition-transform translate-x-full group-hover:-translate-x-4"><svg
                            class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
                        </svg></span><span class="text-sm font-medium transition-all group-hover:mr-4">Diğer Testleri
                        Gör</span></a></div>
        </div>

    </div>
    </div>