<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>

    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/aos/aos.css">
 


</head>
<body class="bg-slate-50">

    <%- include('template/navbar'); %>
    <% const lastValue = value;%> 
    <%- include(lastValue) %>
    
    
   

</body>
<script src="/aos/aos.js"></script>
<script>
    AOS.init();
  </script>
  <script src="/flowbite/flowbite.min.js"></script>
</html>